html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333;
  background: #fcc302;
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
  padding: 20px 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 50px;
}

#logo {
  width: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 15px;
}

header nav a:hover {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  display: inline-block;
}

iframe {
  min-width: 30vw;
  min-height: 30vh;
}

#heroContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: auto;
  background: center center fixed;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/splash.png");
}

#cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.card {
  width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: start;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h3 {
  height: 40px;
  text-align: justify;
}

.card p {
  text-align: justify;
  margin-top: 0;
  color: #333;
  min-height: 100px;
  flex-grow: 2;
}

.card a {
  color: #fcc302;
  text-decoration: none;
  background: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card a:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

footer {
  background-color: #282828;
  padding: 10px;
  color: white;
  text-align: center;
}

footer p {
  font-size: smaller;
}
